.contact {
  padding-top: 25px;
}

.map {
  min-height: 100%;
  min-width: 100%;
  padding: 15px 0;
}

.sheet {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
}
.bg {
  background-color: #444444;
}
.info {
  margin-top: 15px;
}
