$white: #ffffff;

.header {
  display: flex;
  flex: 1;
  min-height: 180px;
  align-items: center;
}
.header__bar {
  display: flex;
  flex: 1;
  background-color: #444444;
  max-height: 75px;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 0 !important;
  padding: 0;
}
.header__nav {
  display: flex;
  flex: 1;
  max-width: 1140px;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

// .nav__menu {
//   display: flex;
//   flex: 1;
//   justify-content: space-evenly;
// }
.nav__item {
  display: inline-block;
  font-size: 1.3em;
  margin-left: 40px;
}

.nav__link {
  color: #ffffff;
}

.nav__link--active {
  font-weight: bold;
}

.nav__link:hover {
  color: #ffffff;
}
.header__logo {
  display: inline-block;
  height: 150px;
}
.logo__img {
  max-height: 150px;
}

@media (max-width: 576px) {
  .nav__item {
    font-size: 1.1em;
    margin-left: 5px;
  }
}

@media (max-width: 1200px) {
  .header__nav {
    max-width: 930px;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .header__nav {
    max-width: 690px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    max-width: 510px;
  }
}

@media (max-width: 576px) {
  .header__nav {
    max-width: none;
    padding: 0 15px;
  }
}
