.fit {
  width: 1% !important;
  white-space: nowrap !important;
  min-width: 80px !important;
}

th:not(:first-child) {
  text-align: center;
}

tr td:not(:first-child) {
  text-align: center;
}

.sum {
  border-top: 2px solid #dee2e6;
  color: white;
  font-weight: bold;
}
.sum:first-child {
  background-color: #444444;
}

.price {
  background-color: #ec1d23;
}
